<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
        content="width=device-width, initial-scale=1.0">
    <title>SG Platform</title>
    <link rel="stylesheet" 
        href="{{ url_for('static', filename='css/style.css') }}">
        
</head>
<body>
    <header>
        
        <div class="container">
        
             <h1>SG Platform</h1>
                 <nav>
                 <a href="#">Produtos</a>
                 <a href="#">Soluções</a>
                 <a href="#">Sobre</a>
                 <a href="#">Contato</a>
                 </nav>
        </nav>
    </header>

    {% block content %}

    {% endblock %}

    <footer>
        <p>© 2026 SG Platform</p>
    </footer>
</body>
</html>