{% extends "base.html" %}

{% block content %}

<section class="container">

    <h1>{{ chamado.numero }}</h1>

    <p class="page-description">

        Detalhes completos do chamado

    </p>

    <div class="card card-form">

        <div class="form-grid">

            <div>

                  <label>Título</label>

                  <p>{{ chamado.titulo }}</p>

            </div>

             <div>

                 <label>Categoria</label>

                <p>{{ chamado.categoria }}</p>

            </div>

            <div>

                <label>Equipamento</label>

                <p>{{ chamado.equipamento }}</p>

            </div>

             <div>

              <label>Status</label>

                <span class="badge {{ chamado.status_css }}">

                {{ chamado.status }}

              </span>

            </div>

             <div>

              <label>Prioridade</label>

              <span class="badge {{ chamado.prioridade_css }}">

                 {{ chamado.prioridade }}

                </span>

            </div>

             <div>

               <label>Responsável</label>

               <p>{{ chamado.responsavel }}</p>

            </div>

             <div class="full-width">

                <label>Descrição</label>

                <p>{{ chamado.descricao }}</p>

            </div>

             <div>

             <label>Data de abertura</label>

              <p>{{ chamado.data_abertura }}</p>

            </div>

             </div>

           <div class="form-actions">

            <a
                href="{{ url_for('chamados.chamados') }}"
                class="btn btn-secondary">

                Voltar

                </a>

                <a
                href="{{ url_for('chamados.editar_chamado', id=chamado.numero[3:]|int) }}"
                class="btn btn-primary">

                Editar

            </a>

    </div>

</section>

{% endblock %}