{% extends "base.html" %}
{% block content %}
 <main>

    <section class="hero">

        <div class="container">

            <div class="hero-content">

                <div class="hero-text">

                    <h1>
                    Pessoas usando tecnologia<br>

                    Tecnologia ajudando pessoas</h1>

                <p>
                    Plataforma inteligente para gestão de serviços,
                    ativos e operações empresariais.
                </p>

                    <div class="hero-buttons">

                         <a class="btn btn-primary">
                         Começar agora
                         </a>

                        <a class="btn btn-secondary">
                        Saiba mais
                        </a>

                    </div>

                </div>

                <div class="hero-image">

                    <img
                    src="https://placehold.co/500x400"
                    alt="Ilustração da plataforma">

                </div>

            </div>

        </div>

    </section>

    <section class="features">

        <div class="container">

             <h2>Recursos da Plataforma</h2>

                <div class="cards">

                    {% for recurso in recursos %}

                        <div class="card">

                            <h3>{{ recurso.titulo }}</h3>

                            <p>{{ recurso.descricao }}</p>

                        </div>

                    {% endfor %}
  
                </div>

            </div>

    </section>

</main>
{% endblock %}