<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>SG Platform</title>

</head>

<body>

    <header>

        <h1>SG Platform</h1>

        <p>
            Pessoas usando tecnologia.
            Tecnologia ajudando pessoas.
        </p>

    </header>

    <main>

        <button>Entrar</button>

        <button>Saiba mais</button>

    </main>

    <footer>

        <p>© 2026 SG Platform</p>

    </footer>

</body>

</html>